body {
    font-family: Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 14px;
}

p {
    font-size: 1.2em;
}

.breadcrumbs {
    list-style-type: none;
    overflow: auto;
}
.breadcrumbs li {
    float: left;
    margin-right: 15px;
}

div.logo,
nav,
article {
    max-width: 1280px;
    margin: 0 auto;
}
article header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
article header h1 {
    font-size: 1.6em;
}
table {
    margin-bottom: 50px;
    border-collapse: collapse;
}
thead th {
    background: lightgrey;
    font-size: 1.2em;
}
th, td {
    border: 1px solid #ccc;
    padding: 20px;
}
.untrackItem {
    background-color: rgba(193,219,70, 0.5);
}
nav li {
    display: inline;
    margin-left: 0;
    padding: 10px 30px;
}
nav li.selected a {
    font-weight: bold;
    text-decoration: underline;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
nav a:hover {
    text-decoration: underline;
}
.logo {
    text-align: center;
}

ul.speakers {
    list-style-type: none;
}
ul.speakers li {
    width: 250px;
    float: left;
    text-align: center;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

article table {
    width: 100%;
}
article table,
article img {
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
ul.speakers li img {
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #C5C5C5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.speakers li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}