body {
	color: rgb(40, 40, 40);
	font-family: "National 2", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	height: 37px;
	letter-spacing: 0.12999999523162842px;
	line-height: 27px;
}

h1 {
	font-size: 2.2em;
	line-height: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

.desktop {
	display: none;
}
.mobile {
	display: block;
}
#logo {
	text-align: center;
}
@media screen and (min-width: 680px) {
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}
iframe {
	margin: 0 auto;
}
@media screen and (min-width: 680px) {
	.column {
        float: left;
        width: 30%;
        margin: 0 1.5% 0 1.5%;
    }
	.twocolumns .column {
	    width: 47%;    
    }
}
.column div {
	padding: 15px 25px;
}

body#sponsors .venue .column,
body#sponsors .gold .column {
	width: 90%;
	padding: 5%;
}
body#sponsors .silver .column {
	width: 50%;	
	margin: 0 auto 20px;
}
body#sponsors .bronze .column {
	width: 50%;	
	margin: 0 auto 20px;
}
@media screen and (min-width: 680px) {
	body#sponsors .bronze .column {
		width: 30%;	
		margin: 0 1.5% 0 1.5%;
	}
}
body#sponsors .bronze .column img,
body#sponsors .silver .column img,
body#sponsors .venue .column img,
body#sponsors .gold .column img {
    width: 100%;
}

body#sponsors .venue,
body#sponsors .bronze,
body#sponsors .silver,
body#sponsors .gold {
	clear: both;
	padding-bottom: 100px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 100px;
	overflow: auto;
}
body#sponsors .bronze h3,
body#sponsors .silver h2,
body#sponsors .venue h2,
body#sponsors .gold h2 {
	text-align: center;	
}
.sixcolumns .column,     
.sevencolumns .column,
.fivecolumns .column,
.fourcolumns .column {
    float: left;	
    margin: 0 1.5% 0 1.5%;        
    overflow: auto;	  
    width: 30%;  
}

.technologylogos img {
	max-height: 100px;
}


@media screen and (min-width: 680px) {
	.sixcolumns .column {
    	width: 13%;
	}
	.sevencolumns .column {
		width: 11%;
	}
	.fivecolumns .column {
		width: 17%;
	}   
	.fourcolumns .column {
		width: 21%;
	}   
}

article {
	overflow: auto;
	margin-top: 50px;
	min-height: 400px;
}        
article .banner {
	width: 100%;
}
@media screen and (min-width: 680px) {

	.alignright {
    	float:right;
		margin: 5px 0 20px 20px;
	}

	.column {
		float: left;
		margin: 5px 20px 20px 0;
	}
	
	article .column img {
		width: 100%;
	}

	.clear {
		clear: both;
	}
}
footer {
	font-size: 0.8em;
	color: rgba(23, 23, 23, 0.817647);
	text-align: center;
}
footer ul {
	list-style-type: none;
}
footer li {
	display: inline;
}
footer li a {
	text-transform: uppercase;
	text-decoration: none;
}


a,
a:active
a:visited,
a:hover {
	color: rgb(66, 133, 244);
}
nav a,
nav a:active
nav a:visited,
nav a:hover {
	color: rgba(23, 23, 23, 0.901961);
	text-decoration: none;
	font-size: 0.8em;
}


nav {
	text-align: center;
}

@media screen and (min-width: 680px) {
	nav a {	
		display: block;
		float: left;
		margin: 0 5px;
	}
}
nav a.current_page_item {
	text-decoration: underline;
}

.wrapper {
	margin: 0 auto;
	max-width: 768.578125px;
}

body#agenda .wrapper {
	max-width: 1280px;
}

body#speakers .threecolumns {
	border: 1px solid white;
	clear: both;
	overflow: auto;
}
body#speakers .column img {
	width: 100%;
}

body#speakers .column {
    width: 44%;    
    float: left;
	margin: 0 3% 0 3%;
	margin-bottom: 50px;
	min-height: 550px;
	overflow: auto;
}
body#speakers .column h2 {	
	font-size: 0.95em;
}
@media screen and (min-width: 680px) {
	body#speakers .column {
        float: left;
        width: 27%;
    }	
}

.company {
	width: 60px;
	height: 60px;	
	margin: 0 auto;
}
.company img {
	width: 100%;
}

body#agenda article table {
	margin-bottom: 50px;
	border-collapse: collapse;
}
body#agenda article table thead th {
	background: lightgrey;
	font-size: 1.2em;
}
body#agenda article table th,
body#agenda article table td {
	border: 1px solid #ccc;
	padding: 20px;
}
body#agenda article table.mobile {
	width: 100%;
}
body#agenda article table.desktop {
	width: 30%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	float: left;
}
body#agenda article table.mobile {
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
body#agenda article table th.timeslot,
body#agenda article table td.timeslot {
	width: 10%;
}
.untrackItem {
	background-color: rgba(193,219,70, 0.5);
}

.breadcrumbs {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 0;
}
.breadcrumbs {
	list-style-type: none;
	overflow: auto;
}
.breadcrumbs li {
	float: left;
	margin-right: 15px;
}


.sold .priceBundleName,
.sold .priceBundlePrice {
	text-decoration: line-through;
}