<!DOCTYPE html>
<html>
<head>
    <title>${messages["pageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body>
#parse("views/logo.vm")
<div class="desktop">
    #parse("views/nav.vm")
</div>

<article>
    <header><h1><span class="mobile"><a href="#bottomMenu">Menu</a> &rarr;</span>Agenda</h1></header>
#foreach( $day in $days)
    <table class="mobile">
        <thead>
            <tr><th colspan="2">${day.getDay().toString()}</th></tr>
        </thead>
        <tr>
        #foreach($timeSlot in $day.getTimeSlots())
            <tr>
            #set( $rowspan = $timeSlot.getTrackTalks().size())
            #if ($rowspan == 0)
                #set( $rowspan = 1)
            #end

            <td class="timeslot" rowspan="$rowspan">
                    <span class="start">${timeSlot.getTimeSlot().getStart()}</span>
                    <span class="timeSeparator"> - </span>
                    <span class="end">${timeSlot.getTimeSlot().getEnd()}</span>
                </td>

                #if(${timeSlot.getTrackTalks()})
                    #foreach($track in ${day.getTracks()})

                        #if($foreach.index > 0)
                        <tr>
                        #end

                        <td class="talk${day.getTracks().size()}">
                            #if(${timeSlot.getTrackTalks()[$track]})
                                $track - <a class="title" href="/talk/${timeSlot.getTrackTalks()[$track].uid}">${timeSlot.getTrackTalks()[$track].title}</a>
                                <span> - </span>
                                #foreach($speaker in ${timeSlot.getTrackTalks()[$track].getSpeakers()})
                                    <a class="speaker" href="/speaker/${speaker.uid}">${speaker.getName()}</a>
                                #end
                            #end
                        </td>
                        </tr>
                    #end
                #end
                #foreach($item in $timeSlot.getItems())
                <td class="untrackItem">${item.getTitle()}
                    #if(${item.getLocation()})
                    <span>${item.getLocation()}</span>
                    #end
                </td></tr>
                #end
        #end
        </tbody>
    </table>
#end
#foreach( $day in $days)

<table class="desktop">
    <thead>
        #set( $colspan = $day.getTracks().size() + 1 )
        <tr><th colspan="${colspan}">${day.getDay().toString()}</th></tr>
        <tr>
            <th class="timeslot"></th>
            #foreach($track in $day.getTracks())
                <th class="track${day.getTracks().size()}">$track</th>
            #end
        </tr>
    </thead>
    <tbody>
    #foreach($timeSlot in $day.getTimeSlots())
    <tr>
        <td class="timeslot">
            <span class="start">${timeSlot.getTimeSlot().getStart()}</span>
            <span class="timeSeparator"> - </span>
            <span class="end">${timeSlot.getTimeSlot().getEnd()}</span>
        </td>
        #if(${timeSlot.getTrackTalks()})
        #foreach($track in ${day.getTracks()})
            <td class="talk${day.getTracks().size()}">
                #if(${timeSlot.getTrackTalks()[$track]})
                    <a class="title" href="/talk/${timeSlot.getTrackTalks()[$track].uid}">${timeSlot.getTrackTalks()[$track].title}</a>
                    <span> - </span>
                    #foreach($speaker in ${timeSlot.getTrackTalks()[$track].getSpeakers()})
                    <a class="speaker" href="/speaker/${speaker.uid}">${speaker.getName()}</a>
                    #end
                #end
            </td>
        #end
        #end
        #foreach($item in $timeSlot.getItems())
            <td colspan="${day.getTracks().size()}" class="untrackItem">${item.getTitle()}</td>
        #end
    </tr>
    #end

    </tbody>
</table>
#end
</article>
<div class="mobile" id="bottomMenu">
<hr/>
#parse("views/nav.vm")
</div>
</body>
</html>