<!DOCTYPE html>
<html>
<head>
    <title>${name} ${messages["speakerPageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body class="speaker">
#parse("views/logo.vm")
#parse("views/speakers-nav.vm")
<ul class="breadcrumbs">
    <li><a href="/">Agenda</a></li>
    <li>&rarr;</li>
    <li><a href="/speakers">Speakers</a></li>
    <li>&rarr;</li>
    <li><span>${name}</span></li>
</ul>
<article>
    <h1>${name}</h1>
    <p><a href="https://twitter.com/${twitter}">@${twitter}</a></p>
    #foreach($bioparagraph in $bio)
        <p>${bioparagraph}</p>
    #end
    <img src="${image}" alt="${name}"/>
</article>
</body>
</html>