<!DOCTYPE html>
<html>
<head>
    <title>${messages["speakersPageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body>
#parse("views/logo.vm")
<div class="desktop">
    #parse("views/speakers-nav.vm")
</div>
<article>
    <header>
        <h1>Speakers</h1>
    </header>
    #foreach($speaker in $speakers)
        <ul class="speakers">
            <li>
                <a href="/speaker/${speaker.uid}">
                    <b>${speaker.name}</b>
                    <img src="${speaker.image}" alt="${speaker.name}"/>
                </a>
            </li>
        </ul>
    #end
</article>
<div class="mobile" id="bottomMenu">
<hr/>
#parse("views/speakers-nav.vm")
</div>
</body>
</html>