<!DOCTYPE html>
<html>
<head>
    <title>${speaker.name} ${messages["speakerPageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body class="speaker">
#parse("views/logo.vm")
<div class="desktop">
    #parse("views/speakers-nav.vm")
</div>

<ul class="breadcrumbs">
    <li class="mobile"><a href="#bottomMenu">Menu</a></li>
    <li class="mobile">&rarr;</li>
    <li><a href="/">${messages["agenda"]}</a></li>
    <li>&rarr;</li>
    <li><a href="/speakers">Speakers</a></li>
    <li class="desktop">&rarr;</li>
    <li class="desktop"><span>${speaker.name}</span></li>
</ul>
<article>
    <h1>${speaker.name}</h1>
    <p><a href="https://twitter.com/${speaker.twitter}">@${speaker.twitter}</a></p>
    #foreach($bioparagraph in $speaker.bio)
        <p>${bioparagraph}</p>
    #end
    <img src="${speaker.image}" alt="${speaker.name}"/>

    <h2>${messages["talks"]}</h2>
    <ul>
    #foreach($talk in $talks)
        <li><a class="title" href="/talk/${talk.uid}">${talk.title}</a></li>
    #end
    </ul>
</article>
<div class="mobile" id="bottomMenu">
<hr/>
#parse("views/speakers-nav.vm")
</div>
</body>
</html>