<!DOCTYPE html>
<html>
<head>
    <title>${tag} ${messages["tagPageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body class="talks">
#parse("views/logo.vm")
#parse("views/speakers-nav.vm")
<ul class="breadcrumbs">
    <li><a href="/">${messages["agenda"]}</a></li>
    <li>&rarr;</li>
    <li><a href="/talks/tags">${messages["tags"]}</a></li>
    <li>&rarr;</li>
    <li><span>${tag}</span></li>
</ul>
<article>
    <h1>${tag} ${messages["talks"]}</h1>
    <ul>
    #foreach($talk in $talks)
        <li><a class="title" href="/talk/${talk.uid}">${talk.title}</a></li>
    #end
    </ul>
</article>
</body>
</html>