<!DOCTYPE html>
<html>
<head>
    <title>${messages["tags"]} | ${messages["pageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body class="talks">
#parse("views/logo.vm")
<div class="desktop">
    #parse("views/speakers-nav.vm")
</div>
<ul class="breadcrumbs">
    <li class="mobile"><a href="#bottomMenu">Menu</a></li>
    <li class="mobile">&rarr;</li>
    <li><a href="/">${messages["agenda"]}</a></li>
    <li>&rarr;</li>
    <li><span>${messages["tags"]}</span></li>
</ul>
<article>
    <h1>${messages["tags"]}</h1>
#foreach($tag in $tagDensity.keySet())
    <ul>
        <li><a class="title" href="/talks/tags/${tag}">${tag} ${tagDensity.get($tag)}</a></li>
    </ul>
#end
</article>
<div class="mobile" id="bottomMenu">
<hr/>
#parse("views/speakers-nav.vm")
</div>
</body>
</html>