<!DOCTYPE html>
<html>
<head>
    <title>${talk.title} ${messages["talkPageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body>
#parse("views/logo.vm")
#parse("views/nav.vm")
<ul class="breadcrumbs">
    <li><a href="/">Agenda</a></li>
    <li>&rarr;</li>
    <li><span>${talk.title}</span></li>
</ul>
<article>
    <h1>${talk.title}</h1>
    <h2>${talk.start}</h2>
    #foreach($paragraph in $talk.about)
        <p>${paragraph}</p>
    #end
    <h2>${messages["speakers"]}</h2>
    #foreach($speaker in $speakers)
        <a href="/speaker/${speaker.uid}">
        <h3>${speaker.name}</h3>
        <img src="${speaker.image}" alt="${speaker.name}" width="200"/>
        </a>
    #end
</article>
</body>
</html>