<!DOCTYPE html>
<html>
<head>
    <title>${talk.title} ${messages["talkPageTitle"]}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
#parse("views/header.vm")
</head>
<body>
#parse("views/logo.vm")
<div class="desktop">
    #parse("views/nav.vm")
</div>
<ul class="breadcrumbs">
    <li class="mobile"><a href="#bottomMenu">Menu</a></li>
    <li class="mobile">&rarr;</li>
    <li><a href="/">${messages["agenda"]}</a></li>
    <li class="desktop">&rarr;</li>
    <li class="desktop">${talk.title}</span></li>
</ul>
<article>
    <h1>${talk.title}</h1>
    <p><b>${messages["startDate"]}</b>: <span>${talk.startDate}</span> <b>${messages["startTime"]}</b>: <span>${talk.startTime}</span></p>
    #foreach($paragraph in $talk.about)
        ${paragraph}
    #end
    <h2>${messages["speakers"]}</h2>
    #foreach($speaker in $speakers)
        <a href="/speaker/${speaker.uid}">
        <h3>${speaker.name}</h3>
        <img src="${speaker.image}" alt="${speaker.name}" width="200"/>
        </a>
    #end
</article>
<div class="mobile" id="bottomMenu">
<hr/>
#parse("views/nav.vm")
</div>
</body>
</html>